<div>
    <a href="/">Registrarse</a>
    <br>
    <a href="/login">Iniciar sesión</a>
    <br>
    <a href="/products">Productos</a>
    <br>
    <a href="/data">Data</a>
    <br>
    <br>
    <h1>Email: {{user.email}}</h1>
    <h2>Nombre: {{user.name}}</h2>
</div>