<div>
    <a href="/">Registrarse</a>
    <br>
    <a href="/login">Iniciar sesión</a>
    <br>
    <a href="/products">Productos</a>
    <br>
    <a href="/data">Data</a>
    <br>
    <br>
    <form id="loginForm">
        <label>Email</label>
        <input type="email" name="email">

        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>
<script src="js/login.js"></script>