<div>
    <a href="/">Registrarse</a>
    <br>
    <a href="/login">Iniciar sesión</a>
    <br>
    <a href="/products">Productos</a>
    <br>
    <a href="/data">Data</a>
    <br>
    <br>
    <h1>Registrate :)</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input type="text" name="name">

        <label>Email</label>
        <input type="email" name="email">
        
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>

<script src="/js/register.js"></script>